.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  border: solid 1px black;
}

.grid > div {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.snake {
  background-color: forestgreen;
  border: 1px solid darkgreen;
}

.apple {
  background-color: crimson; 
  border: 1px solid darkred;
}